.menu-activador {
  width: 30px;
  height: 20px;
  margin: 100px auto;
  #lanzador {
    position: absolute;
    left: -9999px;
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;  
    cursor: pointer;
  }
  .menu-activador-linea {
    height: 5px;
    background-color:  #e2dede;
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
  }
  #lanzador:checked ~ label .menu-activador-linea {
    &:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-9px)rotate(-45deg);
    }
  }
}